@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Playpen+Sans:wght@600;800&display=swap');

* {
    margin: 1rem;
}

body { 
    background-color: #000000;
    text-align: center;
    color: aliceblue;
    font-family: 'Playpen Sans', cursive;
}

img {
    width: 250px;
    border-radius: 500px;
    border-style: dashed;
    border-color: rgb(255, 183, 211);
}

h1 {
    font-size: 50px;
}

h4 {
    font-size: 50px;
    font-family: 'Itim', cursive;
}

a {
    color: aliceblue;
}

a:hover {
    color: red;
}

.about {
    margin-top: 20px;
    background-color: rgb(220, 112, 153);
    height: 12rem;
    border-radius: 50px;
    text-align: left;
}

h2 {
    padding: 20px 0 0 20px;
}

p {
    padding: 0 0 0 20px;
}